/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ff5e57;
}

/* Splash */
.splash {
  background-color: black;
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.splash .splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.splash .splash-inner i {
  font-size: 30px;
  background: #ff5e57;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
}

.splash .splash-inner .page-title {
  position: relative;
  color: #fff;
  font-size: 60px;
  margin: 48px 0 0 0;
}

.splash .splash-inner .page-title::after {
  position: absolute;
  content: '';
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ff5e57;
}

.splash .splash-inner .page-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 48px 0 0 0;
}

.splash::before {
  position: absolute;
  content: '';
  background-image: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?cs=srgb&dl=biurko-ekrany-elektronika-glosniki-1714208.jpg&fm=jpg);
  opacity: 0.4;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

/* Intro */
.intro {
  background: #fff;
  margin: 48px 0;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 24px;
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
}

/* About */
.about {
  padding: 48px 0;
  background: #f0f0f0;
}

/* Skills */
.skills {
  padding: 48px 0;
}

[class^="skill-"] {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.skill-image img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

/* Portfolio */
.portfolio {
  padding: 48px 0;
}

.portfolio button {
  background: #ff5e57;
  border: none;
  color: #fff;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.portfolio-item {
  position: relative;
  float: left;
  width: 33.33%;
  height: 300px;
}

.portfolio-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.portfolio-item::after {
  content: '';
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 0;
}

.portfolio-item:hover .portfolio-item-description {
  opacity: 1;
  z-index: 3;
}

.portfolio-item:hover::after {
  opacity: 0.6;
  z-index: 2;
}

.portfolio-item-description {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.portfolio-item-description p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.button-portfolio {
  margin: 20px 0;
}

/* Contact */
.contact {
  position: relative;
  background: #171717;
  padding: 48px 0;
}

.contact h2 {
  color: #fff;
}

.contact form {
  display: block;
  left: 50%;
}

.contact input {
  display: block;
  padding: 1px 0;
  margin: 10px auto;
  width: 500px;
  height: 35px;
}

.contact textarea {
  width: 500px;
  height: 200px;
}

.contact button {
  display: block;
  background: #ff5e57;
  border: none;
  color: #fff;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 48px auto;
}

/* Footer */
.page-footer {
  background: #242424;
}

.page-footer p {
  color: #fff;
  margin: 0;
  padding: 24px 0;
}
/*# sourceMappingURL=style.css.map */