/* Global */
$color-main: #ff5e57;
$color-white: #fff;

$font-family: 'Josefin Sans', sans-serif;
$font-family: 'Open Sans', sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
}

.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-main;
}

/* Splash */

.splash {
    background-color: black;
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .splash-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: 30px;
            background: $color-main;
            width: 60px;
            height: 60px;
            line-height: 60px;
            color: $color-white;
            border-radius: 50%;
        }

        .page-title {
            position: relative;
            color: $color-white;
            font-size: 60px;
            margin: 48px 0 0 0;
        }

        .page-title::after {
            position: absolute;
            content: '';
            bottom: -24px;
            left: 50%;
            width: 100px;
            height: 10px;
            transform: translateX(-50%);
            background: $color-main;
        }

        .page-subtitle {
            color: $color-white;
            font-size: 18px;
            margin: 48px 0 0 0;
        }
    }
}

.splash::before {
    position: absolute;
    content: '';
    background-image: url(https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?cs=srgb&dl=biurko-ekrany-elektronika-glosniki-1714208.jpg&fm=jpg);
    opacity: 0.4;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

/* Intro */

.intro {
    background: $color-white;
    margin: 48px 0;

    p {
        width: 70%;
        margin: 0 auto;
        padding: 48px 0;
        font-size: 24px;
        border-top: 1px solid #3d3d3d;
        border-bottom: 1px solid #3d3d3d;
    }
}

/* About */

.about {
    padding: 48px 0;
    background: #f0f0f0;
}

/* Skills */
.skills {
    padding: 48px 0;
}

[class^="skill-"] {
    position: relative;
}

.skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease;
    }

    img:hover {
        transform: scale(1.5);
    }
}

.skill-right {

     .skill-image {
    right: 0;
    }
    
    .skill-description {
        padding: 36px 55% 36px 0;
        text-align: right;
    }
}

.skill-left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left;
}

/* Portfolio */

.portfolio {
    padding: 48px 0;

    button {
        background: $color-main;
        border: none;
        color: $color-white;
        padding: 15px 28px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
}

.portfolio-item {
    position: relative;
    float: left;
    width: 33.33%;
    height: 300px;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

.portfolio-item::after {
    content: '';
    position: absolute;        
    opacity: 0;
    transition: opacity 1s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;
}

.portfolio-item:hover .portfolio-item-description {
    opacity: 1;
    z-index: 3;
}

.portfolio-item:hover::after {
    opacity: 0.6;
    z-index: 2;
}

.portfolio-item-description {
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    p {
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
    }
}

.button-portfolio {
    margin: 20px 0;
}

/* Contact */

.contact {
    position: relative;
    background: #171717;
    padding: 48px 0;

    h2 {
        color: $color-white;
    }

    form {
        display: block;
        left: 50%;
    }

    input {
        display: block;
        padding: 1px 0;
        margin: 10px auto;
        width: 500px;
        height: 35px;
    }

    textarea {
        width: 500px;
        height: 200px;
    }

    button {
        display: block;
        background: $color-main;
        border: none;
        color: $color-white;
        padding: 15px 28px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        margin: 48px auto;
    }
}

/* Footer */

.page-footer {
    background: #242424;

    p {
        color: $color-white;
        margin: 0;
        padding: 24px 0;
    }
}
